#helloPanel {
  border: 1px rgb(189, 119, 119) dashed;
}

.plugin-sample {
  &__custom-tab {
    background-color: var(--b3-theme-background);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__custom-dock {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__time {
    background: var(--b3-card-info-background);
    border-radius: 4px;
    padding: 2px 8px;
  }
}

.mention-item {
  background-color: var(--b3-theme-surface);
  /*border: 1px solid #b7b7b7;*/
  padding: 4px 4px;
  min-height: 28px;
  word-wrap: break-word;
  max-width: 300px;
  min-width: 125px;
}

.mention-selected {
  background-color: var(--b3-theme-success);
}

.v-popper__wrapper .resize-observer object {
  // display: none;
}

.btn-a {
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.4s ease;
}
